		 .kotak {
			width: 150px;
			height: 150px;
			background: aqua;
			margin-top: 100px;
			margin: center;
		}
		.kotak:hover {
			border-radius: 50%;
			width: 200px;
			height: 200px;
			background: pink;
			box-shadow: 5px;
			cursor: pointer;
		}
		.kotak1 {
			position: static;
			width: 150px;
			height: 150px;
			background: aqua;
			margin-top: 100px;
			margin: center;
		}
		.kotak1:hover {
			width: 200px;
			height: 200px;
			background: red;
			cursor: pointer;
		}
		.text {

			margin: center;
		}
